<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formtasks" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea formControlName="description"  rows="5"></ion-textarea>
      <!-- <div [hidden]="!formtasks.controls.description.errors.required"> -->
    </ion-item>
    <ion-item *ngIf="!f.description.valid && (f.description.dirty || f.description.touched)" color="danger">
      <div [hidden]="!f.description.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data Tarefa</ion-label>
      <ion-input type="date" formControlName="datetasks"></ion-input>
    </ion-item>


    <ion-button expand="block" type="submit">
      Salvar
      <ion-icon slot="start" name="save-outline"></ion-icon>
    </ion-button>


  </form>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="chevron-back-circle-outline" [routerLink]="['/tasks/list']"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

</ion-content>
